name: CMake Build and Test

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Create Build Environment
      run: |
        sudo apt-get update -y
        sudo apt-get install -y cmake build-essential libncurses5-dev libncursesw5-dev

    - name: Configure CMake
      run: cmake -B build -S .

    - name: Build
      run: cmake --build build

    - name: Test
      run: ctest --test-dir build --verbose
